
body {
  margin: 0;
}


.cielo {
  width: 100%;
  height: 70vh;
  background-color: skyblue;
  position: relative;
}

.sol {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 234, 0);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 100px;
}

.sol:hover {
  width: 200px;
  height: 200px;

}

.monta1 {
  width: 0px;
  height: 0px;
  border-left: 250px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 250px solid rgb(53, 124, 53);
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.monta1:hover {
   border-bottom: 250px solid rgb(202, 234, 143);
   left: 1000px;
  
}

.monta2 {
  width: 0px;
  height: 0px;
  border-left: 300px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 300px solid darkgreen;
  position: absolute;
  bottom: 0px;
  left: 320px;
  transition: all 2s ease-in;
}

.monta2:hover {
  border-bottom: 400px solid rgb(127, 214, 57);

}

.arbol{
  position: absolute;
  bottom: 0;
  right: 500px;
}

.hojas {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at 30% 30%, #00ff08, #108b18);
  border-radius: 70% 70% 45% 45%;
}

.tronco {
  width: 25px;
  height: 60px;
  background: linear-gradient(
    to right,
    #5d4037,
    #8d6e63 40%,
    #4e342e 60%,
    #3e2723
  );
  /* El margin-left posisiona según el espacio absolute que se establece en arbol */
  margin-left: 40px;
}

.nube {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 100px;
}

.nube:hover {
  background-color: rgba(241, 210, 52, 0.641);
  
}

.nube1 {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 150px;
}

.nube1:hover {
   background-color: rgba(224, 203, 86, 0.641);
}

.nube2 {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 200px;
}

.nube2:hover {
   background-color: rgba(227, 200, 64, 0.641);
}

.nube3 {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 90px;
  right: 500px;
}

.nube4 {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 75px;
  right: 550px;
}

.nube5 {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 450px;
}


.suelo {
  width: 100%;
  height: 30vh;
  background-color: green;
  position:relative;
}

.lago {
  width: 260px;
  height: 120px;
  background-color: rgba(0, 157, 255, 0.641);
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 150px;
  transition: all 3s ease-in;
}

.lago:hover {

  background-color: rgba(41, 96, 214, 0.641);
 
  top: 40px;
  left: 1000px;
  
 
  
}

#tituo {
  position: absolute;
  left: 200%;
  top: 0%;


}

#texto {
  position: absolute;
  left: 300px;
  top: 0px;

}
